<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>JoseSolares</title>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/info.css" >
    </head>
    <body>

        <section class="hero-section ">
            <div class="hero info-bg bg-primary-900">
                <header class="primary-header">
                    <div class="nav-wrapper">
                        <a href=""><img  class="logo" src="/media/images/logo.svg" alt="JoseSolares"></a>
                        <button class="mobile-nav-toggle" aria-controls="primary-navigation">
                            <img src="/media/icons/menu-toggle.svg" alt="Menu-toggle" class="menu-icon">
                            <img src="/media/icons/menu-toggle.svg" alt="Close-menu" class="close-icon">
                            <span class="visually-hidden">Menu</span>
                        </button>
                        <nav id="primary-navigation" class="primary-nav | fs-nav ">
                            <ul role="list" class="nav-list">
                                <li><a href="/index.html">INICIO</a></li>
                                <li><a href="/views/us-page.html">NOSOTROS</a></li>
                                <li><a href="/views/info.html">INFORMACION</a></li>
                                <li><a href="/views/project.html">TU PROYECTO</a></li>
                                <li><img src="/media/icons/globe-outline.svg" alt=""></li>
                            </ul>
                        </nav>
                    </div>
                </header>

    
                <section class="text-neutral-100">
                    <div class="hero-cta | padding-block-900">
                        <div class="hero-text">
                            <h1 class=" fs-primary-heading fw-bold">
                                Informacion
                            </h1>
                            <p style="color: #FFDC53">Todo sobre energía solar, en un solo lugar.</p>
                        </div>
                        <div><button class="primary-button"><a href="#contact-section">RECIBIR ASESORÍA</a></button></div>
                    </div>
                    <img src="/media/icons/ChevronDown.svg" alt="" class="chevron-hero">    
                </section>    
            </div>
        </section>    

        <section class="info-section padding-block-300 bg-neutral-100 text-neutral-100">
            <div class="info-card black-info bg-primary-900">
                <h2 class=" fs-secondary-heading padding-block-200 fw-bold">
                    COMO FUNCIONAN LOS <span style="color: #FFDC53;">PANELES SOLARES</span>
                </h2>
                <div class="text-infor">
                    <div>
                        <p>
                            Los paneles solares capturan la luz del sol y la convierten en electricidad. Las celdas fotovoltaicas generan energía al liberar electrones cuando reciben luz solar. Esta energía se convierte en corriente alterna mediante un inversor para que puedas usarla en tu hogar. La electricidad producida se puede consumir al instante, almacenar en baterías o enviar de vuelta a la red, según tu sistema.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="reasons-section | padding-block-300">
            <div class="reason-card  ">
                <h2 class=" fs-secondary-heading padding-block-200 fw-bold">
                    Razones para elegir <span style="color: #FFDC53;">paneles solares</span>
                </h2>
                <div class="info-cards ">
                    <div>
                        <p>Cambiar a paneles solares es una decisión inteligente por varias razones. Primero, permite reducir considerablemente los costos de electricidad, ya que generas tu propia energía, lo que disminuye tu dependencia de la red eléctrica.</p>
                        <p>También está el aspecto ambiental. Al optar por energía solar, reduces significativamente tu huella de carbono y contribuyes a un futuro más limpio al disminuir el uso de combustibles fósiles. Por último, los paneles solares aumentan el valor de tu propiedad y te protegen contra las constantes subidas de las tarifas eléctricas, brindando estabilidad económica y energética.</p>
                    </div>
                    
                </div>
            </div>
            <div class="reason-container">
            
                <div class="reason-box | ">
                    <div class="info-box">
                        <h3>
                            INDEPENDENCIA ENERGÉTICA
                        </h3>
                        <P>
                            Genera electricidad propia y reduce tu dependencia de la red eléctrica, asegurando un suministro continuo incluso en momentos de cortes de energía.
                        </P>
                        <div class="info-box-img">
                            <img src="/media/icons/razones-icono1.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="reason-box | ">
                    <div class="info-box">
                        <h3>
                            REDUCE COSTOS ENERGÉTICOS
                        </h3>
                        <P>
                            Disminuye significativamente tus facturas eléctricas aprovechando la energía del sol, un recurso abundante y gratuito.
                        </P>
                        <div class="info-box-img">
                            <img src="/media/icons/razones-icono2.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="reason-box | ">
                    <div class="info-box">
                        <h3>
                            SOSTENIDAD AMBIENTAL
                        </h3>
                        <P>
                            Contribuye a un planeta más limpio al utilizar una fuente de energía renovable, reduciendo las emisiones de carbono y el impacto ambiental.
                        </p>                            
                            <img src="/media/icons/razones-icono3.svg" alt="">
                    </div>
                </div>

                <div class="reason-box | ">
                    <div class="info-box">
                        <h3>
                            PROTECCIÓN DE AUMENTOS
                        </h3>
                        <P>
                            Protégete de los aumentos en las tarifas eléctricas generando tu propia energía a un costo fijo, manteniendo el control sobre tus gastos energéticos.
                        </P>
                        <div class="info-box-img">
                            <img src="/media/icons/razones-icono4.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="reason-box | ">
                    <div class="info-box">
                        <h3>
                            AGREGA VALOR A LA PROPIEDAD
                        </h3>
                        <P>
                            Aumenta el valor de tu hogar o negocio al instalar un sistema solar, una característica atractiva para compradores y arrendatarios.
                        </P>
                        <div class="info-box-img">
                            <img src="/media/icons/razones-icono5.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="reason-box | ">
                    <div class="info-box">
                        <h3>
                            TECNOLOGÍA EFICIENTE
                        </h3>
                        <P>
                            Aprovecha la tecnología solar avanzada, diseñada para maximizar la captación de luz y garantizar un rendimiento óptimo.
                        </P>
                        <div class="info-box-img">
                            <img src="/media/icons/razones-icono6.svg" alt="">
                        </div>
                    </div>
                </div>
                    
                </div>
            </div>    
        </section>

        <section class="steps-section | bg-neutral-100">
            <div class="steps-card ">
                <h2 class=" fs-secondary-heading padding-block-200 fw-bold">
                    Proceso para obtener<span style="color: #FFDC53;"> paneles solares</span>
                </h2>
                <div class="steps-box | even-columns">
                    <div class="steps-box-item first">
                        <h3>PASO <span style="color:#ffeca2">1</span></h3>
                        <p>Agenda una cita en línea con uno de nuestros consultores solares. El consultor diseñará un sistema solar personalizado que se ajuste a tus necesidades actuales y metas futuras, ofreciéndote un valor aproximado sin costo. Podrás conocer nuestros programas solares, en cual si calificas no tendrás que comprar un solo panel.</p>
                    
                    </div>
                    <div class="steps-box-item 2">
                        <h3>PASO <span style="color:#FFDC53">2</span></h3>
                        <p>Cuando se obtienen las aprobaciones y permisos, empezamos con la instalación. Nuestro equipo de expertos coloca todo el equipo necesario y te enseña cómo activar y manejar el sistema para que funcione al máximo. Además, activamos un sistema de monitoreo continuo para que puedas revisar la producción de energía en cualquier momento.</p>
                    </div>
                    <div class="steps-box-item 3">
                        <h3>PASO <span style="color:#ffcc00">3</span></h3>
                        <p>Ahora puedes relajarte y disfrutar de la libertad energética con facturas de electricidad casi inexistentes. Aprovecha todos los beneficios adicionales de contar con un sistema solar que no solo cuida el medio ambiente sino tambien tu bolsillo.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="solar-panels bg-primary-900 text-neutral-100 padding-block-700">
            <h2 style="text-decoration: underline #FFDC53;"> Con que marcas <span style="color: #FFDC53;">trabajamos</span></h2>
            <div id="carouselExampleCaptions" class="carousel slide carousel-fade">
                
                <div class="carousel-inner">
                    <!-- First Slide (active) -->
                    <div class="carousel-item active">
                        <div class="flex-container">
                            <div class="solar-img">
                                <img src="/media/images/Foto Nuestros Paneles Q.PEAK DUO Informacion.png" alt="">
                            </div>
                            <div class="solar-text">
                                <h2>Q.PEAK DUO BLK ML-G10+ SERIES</h2>
                                <h3>385-405Wp | 132Cells</h3>
                                <ul class="custom-rectangle">
                                    <li>La tecnología Q.ANTUM DUO Z con diseño de celdas sin espacios aumenta la eficiencia del módulo hasta un 20.6 %.</li>
                                    <li>Marco de aleación de aluminio de alta tecnología, certificado para soportar cargas altas de nieve (5400 Pa) y viento (4000 Pa).</li>
                                    <li>Seguridad de rendimiento a largo plazo con tecnología Anti-LeTID, tecnología Anti-PID² y protección contra puntos calientes.</li>
                                    <li>Rendimiento de 25 años que garantiza al menos el 86% de la potencia nominal.</li>
                                </ul>
                                <div class="qpeak">
                                    <img src="/media/icons/certificados-qpeak.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Second Slide -->
                    <div class="carousel-item">
                        <div class="flex-container">
                            <div class="solar-img">
                                <img src="/media/images/Foto Panel Serie DNA Informacion.png" alt="">
                            </div>
                            <div class="solar-text">
                                <h2>DNA 120 Split Cell Series</h2>
                                <h3>440W | 435W | 430W</h3>
                                <ul class="custom-rectangle">
                                    <li>La tecnología patentada DNATM mejora el rendimiento energético y la eficiencia de los módulos.
                                    </li>
                                    <li>La tecnología avanzada de celdas partidas con 9 barras colectoras ultra-delgadas permite mayor resistencia y una mayor captura de fotones.
                                    </li>
                                    <li>El diseño robusto del producto es resistente en condiciones climáticas extremas. Soporta hasta 5400 Pa de carga de nieve y 5400 Pa de carga de viento.</li>

                                    <li>Garantía de 30 años líder en la industria.</li>
                                    <div class="certs">
                                        <img src="/media/icons/certificaciones-dna.svg" alt="">
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Third Slide -->
                    <div class="carousel-item">
                        <div class="flex-container">
                            <div class="solar-img">
                                <img src="/media/images/Foto Nuestros Paneles hikublack Informacion.png" alt="">
                            </div>
                            <div class="solar-text">
                                <h2>HiKuBlack Mono PERC</h2>
                                <h3>380 W ~ 410 W</h3>
                                <ul class="custom-rectangle">
                                    <li>Menor costo de LCOE y BOS.</li>
                                    <li>Tecnología integral de mitigación LID/LeTID, hasta un 50% menos de degradación.</li>
                                    <li>Mejor tolerancia a la sombra.</li>
                                    <li>Minimiza los impactos de microfisuras.</li>
                                    <li>Carga pesada de nieve de hasta 8100 Pa, carga de viento mejorada de hasta 6000 Pa.</li>
                                    <li>Garantía líder en la industria de 25 años sobre materiales, mano de obra y rendimiento energético lineal.</li>
                                    <div class="certs">
                                        
                                        <img src="/media/images/certificaciones-hiku-black2.png" alt="">
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"><img src="/media/images/Foto Nuestros paneles Qcells Informacion .png" alt=""></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"><img src="/media/images/Foto Nuestros Paneles aptos Informacion.png" alt=""></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"><img src="/media/images/Foto Nuestros paneles CanadianSolar Informacion.png" alt=""></button>
                  </div>
            </div>                           
        </section>

        <section id="edContent" class="video-grid-section | bg-primary-900"> 
            <div class="video-section-wrapper">
                <!-- <h2>Contenido  educativo</h2>
                <div class="video-section">
                    
                
                    <div class="video-grid">
                        <div class="video-item">
                            <div class="video-title">
                                <p>COMO CALCULAR CUANTOS PANELES NECESITAS</p>
                            </div>
                            <div class="video-thumbnail">
                                <video preload="auto" id="video" controls muted>
                                    <source id="mp4" class="video" id="video" src="/media/videos/Video Inicio Quienes Somos.mp4" type='video/mp4'/>
                    
                                    <p>Error: This browser does not support html5 video!</p>
                                </video>
                                
                            </div>
                        </div>
                
                        <div class="video-item">
                            <div class="video-title">
                                <p>COMO CALCULAR CUANTOS PANELES NECESITAS</p>
                            </div>
                            <div class="video-thumbnail">
                                <video preload="auto"  controls muted>
                                    <source id="mp4" class="video"  src="/media/videos/Video Inicio Quienes Somos.mp4" type='video/mp4'/>
                    
                                    <p>Error: This browser does not support html5 video!</p>
                                </video>
                                
                            </div>
                        </div>
                
                        <div class="video-item">
                            <div class="video-title">
                                <p>COMO CALCULAR CUANTOS PANELES NECESITAS</p>
                            </div>
                            <div class="video-thumbnail">
                                <video preload="auto" controls muted>
                                    <source id="mp4" class="video" id="video" src="/media/videos/Video Inicio Quienes Somos.mp4" type='video/mp4'/>
                    
                                    <p>Error: This browser does not support html5 video!</p>
                                </video>
                                
                            </div>
                        </div>
                
                        <div class="video-item">
                            <div class="video-title">
                                <p>COMO CALCULAR CUANTOS PANELES NECESITAS</p>
                            </div>
                            <div class="video-thumbnail">
                                <video preload="auto" controls muted>
                                    <source id="mp4" class="video" id="video" src="/media/videos/Video Inicio Quienes Somos.mp4" type='video/mp4'/>
                    
                                    <p>Error: This browser does not support html5 video!</p>
                                </video>
                                
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </section>

        <section id="faqSection" class="faq-section">
            <div class="faq-container">
                <h2>Preguntas <span>Frecuentes</span></h2>
                <p class="subtitle">Todo lo que necesitas saber, al alcance de un clic</p>
            
                <div class="faq-item">
                    <div class="faq-question">
                        <span>¿PUEDO GUARDAR EL EXCESO DE ENERGÍA?</span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p>
                            El exceso de energía que producen los paneles solares durante el día se envía a la red eléctrica...
                        </p>
                    </div>
                </div>
            
                <div class="faq-item">
                    <div class="faq-question">
                        <span>¿QUIÉN SE OCUPA DEL MANTENIMIENTO DE LOS PANELES?</span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p>
                            El mantenimiento de los paneles solares es responsabilidad del propietario...
                        </p>
                    </div>
                </div>

                <div class="faq-item">
                    <div class="faq-question">
                        <span>¿QUIÉN SE OCUPA DEL MANTENIMIENTO DE LOS PANELES?</span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p>
                            El mantenimiento de los paneles solares es responsabilidad del propietario...
                        </p>
                    </div>
                </div>

                <div class="faq-item">
                    <div class="faq-question">
                        <span>¿QUIÉN SE OCUPA DEL MANTENIMIENTO DE LOS PANELES?</span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p>
                            El mantenimiento de los paneles solares es responsabilidad del propietario...
                        </p>
                    </div>
                </div>

                <div class="faq-item">
                    <div class="faq-question">
                        <span>¿QUIÉN SE OCUPA DEL MANTENIMIENTO DE LOS PANELES?</span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p>
                            El mantenimiento de los paneles solares es responsabilidad del propietario...
                        </p>
                    </div>
                </div>

                <div class="faq-item">
                    <div class="faq-question">
                        <span>¿QUIÉN SE OCUPA DEL MANTENIMIENTO DE LOS PANELES?</span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p>
                            El mantenimiento de los paneles solares es responsabilidad del propietario...
                        </p>
                    </div>
                </div>

                <div class="faq-item">
                    <!-- <img src="/media/icons/help-sharp.svg" alt="" height="20" width="20"> -->
                    <div class="faq-question">
                        <span>¿QUIÉN SE OCUPA DEL MANTENIMIENTO DE LOS PANELES?</span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p>
                            El mantenimiento de los paneles solares es responsabilidad del propietario...
                        </p>
                    </div>
                </div>
            
                <!-- Repeat .faq-item for more questions -->
            
            </div>
        </section>

        <section id="contact-section" class="contact-sect   |  padding-block-700 bg-neutral-100">


            <h2 class="fs-secondary-heading fw-bold">CONTÁCTANOS</h2>
            <div class="contact-container">
                <div class="contact-info">
                  <div class="offset-sq"></div>  
                  <p style="font-weight: bold;">Para consultas o reuniones escribinos al:</p>
                  <div class="contact-details">
                    <div class="contact-item">
                      <img src="/media/icons/phone-portrait-outline.svg" alt="Phone">
                      <span>(909) 697-6932</span>
                    </div>
                    <div class="contact-item">
                      <img src="/media/icons/mail-outline.svg" alt="Email">
                      <span>jcastrore@gmail.com</span>
                    </div>
                  </div>
                </div>
            
                
                <div class="contact-form">
                    <form id="contactForm">
                      <div class="input-group-form">
                        <input type="text" name="name" placeholder="Nombre" autocomplete="name" required>
                        <input type="email" name="email" placeholder="Email" autocomplete="email" required>
                      </div>
                      <textarea name="message" placeholder="Mensaje" required></textarea>
                      <p><button type="submit" class="primary-button form-button">ENVIAR</button></p>
                    </form>
                </div>
                
              </div>
        </section>
        
        <footer class="footer |  ">
    
            <div class="wave-container">
                <img class="wave" src="/media/images/wave-footer.svg" alt="">
            </div>
              
            <div class="footer-content">
                
                <div class="footer-col">
                  <h2 style="color:white">Jose<span class="highlight">Solares</span></h2>
                  <p>Convertimos tu valor en energía eficiente<br> y rentable para tu hogar.</p>
                </div>
          
            
                <div class="footer-col">
                  <h3>Contacto</h3>
                  <p>Tel: (909) 697-6932</p>
                  <a href="mailto:jcastorre@gmail.com">jcastorre@gmail.com</a>
                  <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
                </div>
          
            
                <div class="footer-col">
                  <h3>Acceso</h3>
                   
                  <ul class="link-list custom-arrows">    
                    <li><a href="/views/us-page.html">Nosotros</a></li>
                    <li><a href="/views/info.html">Información</a></li>
                    <li><a href="/index.html">Inicio</a></li>
                    <li><a href="/views/info.html#faqSection">Preguntas frecuentes</a></li>
                    <li><a href="/views/info.html#edContent">Contenido educativo</a></li>
                    <li><a href="/views/project.html">Crea Tu proyecto</a></li>
                  </ul>
                  
                </div>
            </div>  
        </footer>

        <section class="padding-block-300">
            <div class="copyright ">
                <p>Jose Luis Castro Your Solar and Real Estate Professional</p>
                <p>Copyright josesolares - 2024. Todos los derechos reservados. Defensa de las y los consumidores.</p>   
            </div>
        </section>
        
      
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script type="module" src="/scripts/info.js" async defer></script>

        <script type="module" src="/scripts/main.js" async defer></script>
    </body>


</html>