<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>JoseSolares</title>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/info.css" >
    </head>
    <body>

        <section class="hero-section ">
            <div class="hero info-bg bg-primary-900">
                <header class="primary-header">
                    <div class="container">
                        <div class="nav-wrapper">
                            <a href=""><img class="logo" src="/media/images/logo.svg" alt="JoseSolares"></a>
                            <button class="mobile-nav-toggle" aria-controls="primary-navigation">
                                <img src="/media/icons/menu-toggle.svg" alt="Menu-toggle" class="menu-icon">
                                <img src="/media/icons/menu-toggle.svg" alt="Close-menu" class="close-icon">
                                <span class="visually-hidden">Menu</span>
                            </button>
                            <nav id="primary-navigation" class="primary-nav | fs-nav ">
                                <ul role="list" class="nav-list">
                                    <li><a href="/index.html" data-translate="home">INICIO</a></li>
                                    <li><a href="/views/us-page.html" data-translate="about">NOSOTROS</a></li>
                                    <li class="nav-item"><a data-translate="info" href="/views/info.html">INFORMACIÓN</a></li>
                                    <li><a href="/views/project.html" data-translate="project">TU PROYECTO</a></li>
                                    
                                    <li class="nav-item language-selector">
                                        <img src="/media/icons/united-states-flag-icon.svg" alt="">
                                        <img src="/media/icons/Language.svg" alt="Language">
                                        <ul class="dropdown">
                                            <li class="dropdown-item" data-lang="en">
                                                <p class="english">English</p>
                                                <img src="/media/icons/united-states-flag-icon.svg" alt="">
                                            </li>
                                            <li class="dropdown-item" data-lang="es">
                                                <p class="espanol">Español</p>
                                                <img src="/media/icons/spain-country-flag-icon.svg" alt="">
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </header>

    
                <section class="text-neutral-100">
                    <div class="hero-cta | padding-block-900">
                        <div class="hero-text">
                            <h1 data-translate="heroTitle" class=" fs-primary-heading fw-bold">
                                Informacion
                            </h1>
                            <p data-translate="heroSubtitle" style="color: #FFDC53">Todo sobre energía solar, en un solo lugar.</p>
                        </div>
                        <div><button class="primary-button"><a href="#contact-section" data-translate="ctaButton">RECIBIR ASESORÍA</a></button></div>
                    </div>
                    <img src="/media/icons/ChevronDown.svg" alt="" class="chevron-hero">    
                </section>    
            </div>
        </section>    

        <section class="info-section padding-block-300 bg-neutral-100 text-neutral-100">
            <div class="info-card black-info bg-primary-900">
                <h2 data-translate="panelsTitle" class=" fs-secondary-heading padding-block-200 fw-bold">
                    COMO FUNCIONAN LOS <span style="color: #FFDC53;">PANELES SOLARES</span>
                </h2>
                <div class="text-infor">
                    <div>
                        <p>
                            Los paneles solares capturan la luz del sol y la convierten en electricidad. Las celdas fotovoltaicas generan energía al liberar electrones cuando reciben luz solar. Esta energía se convierte en corriente alterna mediante un inversor para que puedas usarla en tu hogar. La electricidad producida se puede consumir al instante, almacenar en baterías o enviar de vuelta a la red, según tu sistema.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="reasons-section | padding-block-300">
            <div class="reason-card  ">
                <h2 data-translate="reasonsTitle" class=" fs-secondary-heading padding-block-200 fw-bold">
                    Razones para elegir <span style="color: #FFDC53;">paneles solares</span>
                </h2>
                <div class="info-cards ">
                    <div>
                        <p data-translate="reasonsText">Cambiar a paneles solares es una decisión inteligente por varias razones. Primero, permite reducir considerablemente los costos de electricidad, ya que generas tu propia energía, lo que disminuye tu dependencia de la red eléctrica.</p>
                        <p data-translate="reasonsText2">También está el aspecto ambiental. Al optar por energía solar, reduces significativamente tu huella de carbono y contribuyes a un futuro más limpio al disminuir el uso de combustibles fósiles. Por último, los paneles solares aumentan el valor de tu propiedad y te protegen contra las constantes subidas de las tarifas eléctricas, brindando estabilidad económica y energética.</p>
                    </div>
                    
                </div>
            </div>
            <div class="reason-container">
            
                <div class="reason-box | ">
                    <div class="info-box">
                        <h3 data-translate="independenceTitle">
                            INDEPENDENCIA ENERGÉTICA
                        </h3>
                        <P data-translate="independenceText">
                            Genera electricidad propia y reduce tu dependencia de la red eléctrica, asegurando un suministro continuo incluso en momentos de cortes de energía.
                        </P>
                        <div class="info-box-img">
                            <img src="/media/icons/razones-icono1.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="reason-box | ">
                    <div class="info-box">
                        <h3 data-translate="reduceCostTitle">
                            REDUCE COSTOS ENERGÉTICOS
                        </h3>
                        <P data-translate="reduceCostText">
                            Disminuye significativamente tus facturas eléctricas aprovechando la energía del sol, un recurso abundante y gratuito.
                        </P>
                        <div class="info-box-img">
                            <img src="/media/icons/razones-icono2.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="reason-box | ">
                    <div class="info-box">
                        <h3 data-translate="sustainabilityTitle">
                            SOSTENIDAD AMBIENTAL
                        </h3>
                        <P data-translate="sustainabilityText">
                            Contribuye a un planeta más limpio al utilizar una fuente de energía renovable, reduciendo las emisiones de carbono y el impacto ambiental.
                        </p>                            
                            <img src="/media/icons/razones-icono3.svg" alt="">
                    </div>
                </div>

                <div class="reason-box | ">
                    <div class="info-box">
                        <h3 data-translate="rateProtectionTitle">
                            PROTECCIÓN DE AUMENTOS
                        </h3>
                        <P data-translate="rateProtectionText">
                            Protégete de los aumentos en las tarifas eléctricas generando tu propia energía a un costo fijo, manteniendo el control sobre tus gastos energéticos.
                        </P>
                        <div class="info-box-img">
                            <img src="/media/icons/razones-icono4.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="reason-box | ">
                    <div class="info-box">
                        <h3 data-translate="addValueTitle">
                            AGREGA VALOR A LA PROPIEDAD
                        </h3>
                        <P data-translate="addValueText"> 
                            Aumenta el valor de tu hogar o negocio al instalar un sistema solar, una característica atractiva para compradores y arrendatarios.
                        </P>
                        <div class="info-box-img">
                            <img src="/media/icons/razones-icono5.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="reason-box | ">
                    <div class="info-box">
                        <h3 data-translate="efficientTechTitle">
                            TECNOLOGÍA EFICIENTE
                        </h3>
                        <P data-translate="efficientTechText">
                            Aprovecha la tecnología solar avanzada, diseñada para maximizar la captación de luz y garantizar un rendimiento óptimo.
                        </P>
                        <div class="info-box-img">
                            <img src="/media/icons/razones-icono6.svg" alt="">
                        </div>
                    </div>
                </div>
                    
                </div>
            </div>    
        </section>

        <section class="steps-section | bg-neutral-100">
            <div class="steps-card ">
                <h2 data-translate="processTitle" class=" fs-secondary-heading padding-block-200 fw-bold">
                    Proceso para obtener<span style='color: #FFDC53;'> paneles solares</span>
                </h2>
                <div class="steps-box | even-columns">
                    <div class="steps-box-item first">
                        <h3 data-translate="stepOneTitle">PASO <span style='color:#ffeca2'>1</span></h3>
                        <p data-translate="stepOneText">Agenda una cita en línea con uno de nuestros consultores solares. El consultor diseñará un sistema solar personalizado que se ajuste a tus necesidades actuales y metas futuras, ofreciéndote un valor aproximado sin costo. Podrás conocer nuestros programas solares, en cual si calificas no tendrás que comprar un solo panel.</p>
                    
                    </div>
                    <div class="steps-box-item 2">
                        <h3 data-translate="stepTwoTitle">PASO <span style='color:#FFDC53'>2</span></h3>
                        <p data-translate="stepTwoText">Cuando se obtienen las aprobaciones y permisos, empezamos con la instalación. Nuestro equipo de expertos coloca todo el equipo necesario y te enseña cómo activar y manejar el sistema para que funcione al máximo. Además, activamos un sistema de monitoreo continuo para que puedas revisar la producción de energía en cualquier momento.</p>
                    </div>
                    <div class="steps-box-item 3">
                        <h3 data-translate="stepThreeTitle">PASO <span style='color:#ffcc00'>3</span></h3>
                        <p data-translate="stepThreeText">Ahora puedes relajarte y disfrutar de la libertad energética con facturas de electricidad casi inexistentes. Aprovecha todos los beneficios adicionales de contar con un sistema solar que no solo cuida el medio ambiente sino tambien tu bolsillo.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="solar-panels bg-primary-900 text-neutral-100 padding-block-700">
            <h2 style="text-decoration: underline #FFDC53;" data-translate="brandsTitle"> Con que marcas <span style='color: #FFDC53;'>trabajamos</span></h2>
            <div id="carouselExampleCaptions" class="carousel slide carousel-fade">
                
                <div class="carousel-inner">
                    <!-- First Slide (active) -->
                    <div class="carousel-item active">
                        <div class="flex-container">
                            <div class="solar-img">
                                <img src="/media/images/Foto Nuestros Paneles Q.PEAK DUO Informacion.png" alt="">
                            </div>
                            <div class="solar-text">
                                <h2>Q.PEAK DUO BLK ML-G10+ SERIES</h2>
                                <h3>385-405Wp | 132Cells</h3>
                                <ul class="custom-rectangle">
                                    <li data-translate="qpeak1">La tecnología Q.ANTUM DUO Z con diseño de celdas sin espacios aumenta la eficiencia del módulo hasta un 20.6 %.</li>
                                    <li data-translate="qpeak2">Marco de aleación de aluminio de alta tecnología, certificado para soportar cargas altas de nieve (5400 Pa) y viento (4000 Pa).</li>
                                    <li data-translate="qpeak3">Seguridad de rendimiento a largo plazo con tecnología Anti-LeTID, tecnología Anti-PID² y protección contra puntos calientes.</li>
                                    <li data-translate="qpeak4">Rendimiento de 25 años que garantiza al menos el 86% de la potencia nominal.</li>
                                </ul>
                                <div class="qpeak">
                                    <img src="/media/icons/certificados-qpeak.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Second Slide -->
                    <div class="carousel-item">
                        <div class="flex-container">
                            <div class="solar-img">
                                <img src="/media/images/Foto Panel Serie DNA Informacion.png" alt="">
                            </div>
                            <div class="solar-text">
                                <h2>DNA 120 Split Cell Series</h2>
                                <h3>440W | 435W | 430W</h3>
                                <ul class="custom-rectangle">
                                    <li data-translate="dna1">La tecnología patentada DNATM mejora el rendimiento energético y la eficiencia de los módulos.
                                    </li>
                                    <li data-translate="dna2">La tecnología avanzada de celdas partidas con 9 barras colectoras ultra-delgadas permite mayor resistencia y una mayor captura de fotones.
                                    </li>
                                    <li data-translate="dna3">El diseño robusto del producto es resistente en condiciones climáticas extremas. Soporta hasta 5400 Pa de carga de nieve y 5400 Pa de carga de viento.</li>

                                    <li data-translate="dna4">Garantía de 30 años líder en la industria.</li>
                                    <div class="certs">
                                        <img src="/media/icons/certificaciones-dna.svg" alt="">
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Third Slide -->
                    <div class="carousel-item">
                        <div class="flex-container">
                            <div class="solar-img">
                                <img src="/media/images/Foto Nuestros Paneles hikublack Informacion.png" alt="">
                            </div>
                            <div class="solar-text">
                                <h2>HiKuBlack Mono PERC</h2>
                                <h3>380 W ~ 410 W</h3>
                                <ul class="custom-rectangle">
                                    <li data-translate="hiku1">Menor costo de LCOE y BOS.</li>
                                    <li data-translate="hiku2">Tecnología integral de mitigación LID/LeTID, hasta un 50% menos de degradación.</li>
                                    <li data-translate="hiku3">Mejor tolerancia a la sombra.</li>
                                    <li data-translate="hiku4">Minimiza los impactos de microfisuras.</li>
                                    <li data-translate="hiku5">Carga pesada de nieve de hasta 8100 Pa, carga de viento mejorada de hasta 6000 Pa.</li>
                                    <li data-translate="hiku6">Garantía líder en la industria de 25 años sobre materiales, mano de obra y rendimiento energético lineal.</li>
                                    <div class="certs">
                                        
                                        <img src="/media/images/certificaciones-hiku-black2.png" alt="">
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"><img src="/media/images/Foto Nuestros paneles Qcells Informacion .png" alt=""></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"><img src="/media/images/Foto Nuestros Paneles aptos Informacion.png" alt=""></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"><img src="/media/images/Foto Nuestros paneles CanadianSolar Informacion.png" alt=""></button>
                  </div>
            </div>                           
        </section>

        <section id="edContent" class="video-grid-section | bg-primary-900"> 
            <div class="video-section-wrapper">
            </div>
        </section>

        <section id="faqSection" class="faq-section">
            <div class="faq-container">
                <h2 data-translate="faqTitle">Preguntas <span>Frecuentes</span></h2>
                <p data-translate="faqSubtitle" class="subtitle">Todo lo que necesitas saber, al alcance de un clic</p>
            
                <div class="faq-item">
                    <div class="faq-question">
                        <span data-translate="faqQuestion1">¿Cómo funciona la energía solar?</span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p data-translate="faqAnswer1">
                            Los paneles solares capturan la energía del sol y la convierten en electricidad limpia y renovable. Nuestros paneles son de calidad de nivel 1, lo que garantiza que los sistemas de nuestros clientes sean altamente eficientes y puedan alimentar sus hogares fácilmente a diario.
                        </p>
                    </div>
                </div>
            
                <div class="faq-item">
                    <div class="faq-question">
                        <span data-translate="faqQuestion2"> Arrendamientos Solares (Solar Leases) vs Acuerdos de Compra de Energía (PPA)</span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p data-translate="faqAnswer2">
                            Un Acuerdo de Compra de Energía (Power Purchase Agreement) permite a los propietarios pagar por la energía generada por sus paneles a un precio fijo por kWh, mientras que en los arrendamientos solares (solar leases), los propietarios pagan una tarifa fija por los paneles en sí.
                        </p>
                    </div>
                </div>

                <div class="faq-item">
                    <div class="faq-question">
                        <span data-translate="faqQuestion3">¿Qué son los PPA (Power Purchase Agreement - Acuerdo de Compra de Energía)?</span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p data-translate="faqAnswer3">
                            Un Acuerdo de Compra de Energía (Power Purchase Agreement - PPA) permite a los propietarios pagar por la energía generada por sus paneles a un precio fijo por kilovatio-hora (kWh). Los clientes que eligen utilizar Acuerdos de Compra de Energía no son propietarios de sus sistemas de energía solar y, por lo tanto, no tienen que pagar ningún costo inicial.
                        </p>
                    </div>
                </div>

                <div class="faq-item">
                    <div class="faq-question">
                        <span data-translate="faqQuestion4"> Costo inicial cero y facturas eléctricas más bajas</span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p data-translate="faqAnswer4">
                            Con los Acuerdos de Compra de Energía, los propietarios pagan una tarifa fija por la energía que generan sus paneles. ¡Esto significa que no habrá más picos inesperados en tu factura de servicios!
                        </p>
                    </div>
                </div>

                <div class="faq-item">
                    <div class="faq-question">
                        <span data-translate="faqQuestion5">¿Qué pasa si quieres Vender tu casa?</span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p data-translate="faqAnswer5">
                            Si vendes tu casa, puedes transferir tu acuerdo solar al nuevo propietario de acuerdo con los términos de tu contrato de servicio solar. El proceso es muy sencillo y ofrece ahorros en electricidad, lo cual es un gran punto de venta cuando tu casa está en el mercado.
                        </p>
                    </div>
                </div>

                <div class="faq-item">
                    <div class="faq-question">
                        <span data-translate="faqQuestion6"> ¿Necesito reemplazar mi techo antes de instalar paneles solares?
                        </span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p data-translate="faqAnswer6">
                            Los sistemas de energía solar pueden durar de 25 a 35 años, y quitar e reinstalar los paneles puede ser costoso si necesitas reemplazar tu techo. Si tu techo necesita mantenimiento pronto, deberías hacerlo antes de finalizar tu instalación solar. Nuestros instaladores solares  podrán indicarte si debes reemplazar tu techo antes de optar por la energía solar. Algunos de los instaladores en nuestra plataforma incluso tienen empresas de techado con las que trabajan regularmente para los propietarios que necesitan reemplazar sus techos antes de instalar paneles solares.
                        </p>
                    </div>
                </div>

                <div class="faq-item">
                    <!-- <img src="/media/icons/help-sharp.svg" alt="" height="20" width="20"> -->
                    <div class="faq-question">
                        <span data-translate="faqQuestion7"> ¿Cuánto tiempo durará mi sistema de energía solar?</span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p data-translate="faqAnswer7">
                            Los paneles solares son generalmente muy duraderos y capaces de soportar nieve, viento y granizo. Los diversos componentes de su sistema de energía solar necesitarán ser reemplazados en diferentes momentos, pero su sistema debería continuar generando electricidad durante 25 a 35 años.
                        </p>
                    </div>
                </div>
            
                <!-- Repeat .faq-item for more questions -->

                <div class="faq-item">
                    <!-- <img src="/media/icons/help-sharp.svg" alt="" height="20" width="20"> -->
                    <div class="faq-question">
                        <span data-translate="faqQuestion8">¿Cuáles son los beneficios ambientales de la energía solar? </span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p data-translate="faqAnswer8">Al igual que otros recursos de energía renovable, la energía solar tiene muchos beneficios ambientales y para la salud. Pasar a energía solar reduce las emisiones de gases de efecto invernadero, que contribuyen al cambio climático, y resulta en menos contaminantes del aire como el dióxido de azufre y las partículas en suspensión, que pueden causar problemas de salud. </p>
                    </div>
                </div>

                <div class="faq-item">
                    <!-- <img src="/media/icons/help-sharp.svg" alt="" height="20" width="20"> -->
                    <div class="faq-question">
                        <span data-translate="faqQuestion9">¿Cómo puedo averiguar cuánto pago por electricidad? </span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p data-translate="faqAnswer9">La forma más fácil de averiguar cuánto pagas por electricidad (y cuánta electricidad utilizas al mes) es revisar tu factura de electricidad del servicio público. Consulta nuestro libro informativo sobre cómo leer tu factura de electricidad para saber exactamente qué buscar. </p>
                    </div>
                </div>

                <div class="faq-item">
                    <!-- <img src="/media/icons/help-sharp.svg" alt="" height="20" width="20"> -->
                    <div class="faq-question">
                        <span data-translate="faqQuestion10">¿Cómo impacta la energía solar en el valor de mi propiedad? </span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p data-translate="faqAnswer10">Los estudios han demostrado que las casas con sistemas de energía solar se venden por más que las casas sin ellos. Pasar a energía solar aumentará el valor de tu propiedad más que una renovación de cocina en la mayoría de las partes del país. Cubrimos todo lo que necesitas saber sobre la venta de tu casa con energía solar y las preguntas más importantes que debes hacer a tu agente inmobiliario antes de vender tu casa con paneles solares. </p>
                    </div>
                </div>

                <div class="faq-item">
                    <!-- <img src="/media/icons/help-sharp.svg" alt="" height="20" width="20"> -->
                    <div class="faq-question">
                        <span data-translate="faqQuestion11">¿Producen energía mis paneles solares cuando no hay sol?
                        </span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p data-translate="faqAnswer11">La cantidad de energía que puede generar tu sistema de energía solar depende de la luz solar. Como resultado, tus paneles solares producirán ligeramente menos energía cuando el clima está nublado y no generarán energía por la noche. Sin embargo, debido a los altos costos de electricidad y los incentivos financieros, la energía solar es una opción inteligente incluso si vives en una ciudad nublada. </p>
                    </div>
                </div>

                <div class="faq-item">
                    <!-- <img src="/media/icons/help-sharp.svg" alt="" height="20" width="20"> -->
                    <div class="faq-question">
                        <span data-translate="faqQuestion12"> ¿Seguiré recibiendo una factura eléctrica si tengo paneles solares? </span>
                        <button class="faq-toggle">+</button>
                    </div>
                    <div class="faq-answer">
                        <p data-translate="faqAnswer12">A menos que tu sistema de energía solar incluya almacenamiento de baterías y estés completamente desconectado de la red, seguirás recibiendo una factura de tu compañía de servicios públicos. Sin embargo, puedes reducir drásticamente tu factura o incluso reducir el monto que debes a $0 con un sistema de paneles solares que se ajuste a tu consumo de energía. </p>
                    </div>
                </div>

            </div>
        </section>

        <section id="contact-section" class="contact-sect   |  padding-block-700 bg-neutral-100">


            <h2 data-translate="contactTitle" class="fs-secondary-heading fw-bold">CONTACTANOS</h2>
            <div class="contact-container">
                <div class="contact-info">
                  <div class="offset-sq"></div>  
                  <p data-translate="contactBanner" style="font-weight: bold;">Para consultas o reuniones escribinos al:</p>
                  <div class="contact-details">
                    <div class="contact-item">
                      <img src="/media/icons/phone-portrait-outline.svg" alt="Phone">
                      <span>(909) 697-6932</span>
                    </div>
                    <div class="contact-item">
                      <img src="/media/icons/mail-outline.svg" alt="Email">
                      <span>jcastrore@gmail.com</span>
                    </div>
                  </div>
                </div>
                
                <div class="contact-form">
                    <form id="contactForm">
                      <div class="input-group-form">
                        <input type="text" data-translate="namePlaceholder" name="name" placeholder="Nombre" autocomplete="name" required>
                        <input type="tel" data-translate="phonePlaceholder" name="tel" placeholder="Teléfono" autocomplete="tel" required>
                      </div>
                      <input class="messageForm" name="message" data-translate="messagePlaceholder" placeholder="Mensaje" required></textarea>
                      <p ><button type="submit" class="secondary-button form-button" data-translate="contactButton">ENVIAR</button></p>
                    </form>
                </div>
                
              </div>
        </section>
        
        <footer class="footer |  ">
    
            <div class="wave-container">
                <img class="wave" src="/media/images/wave-footer.svg" alt="">
            </div>
              
            <div class="footer-content">
                
                <div class="footer-col">
                  <h2 style="color:white">Jose<span class="highlight">Solares</span></h2>
                  <p data-translate="footerTitle">Convertimos tu valor en energía eficiente<br> y rentable para tu hogar.</p>
                </div>
          
            
                <div class="footer-col">
                  <h3 data-translate="footerContact">Contacto</h3>
                  <p>Tel: (909) 697-6932</p>
                  <a href="mailto:jlcastrore@gmail.com">jlcastrore@gmail.com</a>
                  <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
                </div>
          
            
                <div class="footer-col">
                  <h3 data-translate="footerLinks">Acceso</h3>
                   
                    <ul class="link-list custom-arrows">    
                        <li><a data-translate="footerItem1" href="/views/us-page.html">Nosotros</a></li>
                        <li><a data-translate="footerItem2" href="/views/info.html">Información</a></li>
                        <li><a data-translate="footerItem3" href="/index.html">Inicio</a></li>
                        <li><a data-translate="footerItem4" href="/views/info.html#faqSection">Preguntas frecuentes</a></li>
                        <li><a data-translate="footerItem5" href="/views/info.html#edContent">Contenido educativo</a></li>
                        <li><a data-translate="footerItem6" href="/views/project.html">Crea Tu proyecto</a></li>
                    </ul>
                  
                </div>
            </div>  
        </footer>

        <section class="padding-block-300">
            <div class="copyright ">
                <p data-translate="footerText">2024 | JoseSolares | Todos los derechos reservados</p> 
            </div>
        </section>

        
        <!-- Modal Structure -->
        <div id="customModal" class="modal">
            <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modalMessage">Your message here</p>
            </div>
        </div>
        
      
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script type="module" src="/scripts/info.js" async defer></script>
        <script type="module" src="/scripts/main.js" defer></script>
        <script type="module" src="/scripts/formsubmit.js" defer></script>
        <script type="module" src="/scripts/translateInfo.js" defer></script>
    </body>


</html>