<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>JoseSolares</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/project.css">
        <link rel="stylesheet" href="/styles/info.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

        
    </head>

<html>    
    <body>
        <section class="hero-section ">
            <div class="hero project-bg bg-primary-900">
                <header class="primary-header">
                    <div class="nav-wrapper">
                        <a href=""><img  class="logo" src="/media/images/logo.svg" alt="JoseSolares"></a>
                        <button class="mobile-nav-toggle" aria-controls="primary-navigation">
                            <img src="/media/icons/menu-toggle.svg" alt="Menu-toggle" class="menu-icon">
                            <img src="/media/icons/menu-toggle.svg" alt="Close-menu" class="close-icon">
                            <span class="visually-hidden">Menu</span>
                        </button>
                        <nav id="primary-navigation" class="primary-nav | fs-nav ">
                            <ul role="list" class="nav-list">
                                <li><a href="/index.html">INICIO</a></li>
                                <li><a href="/views/us-page.html">NOSOTROS</a></li>
                                <li><a href="/views/info.html">INFORMACION</a></li>
                                <li><a href="#">TU PROYECTO</a></li>
                                <li><img src="/media/icons/globe-outline.svg" alt=""></li>
                            </ul>
                        </nav>
                    </div>
                </header>
    
                <section class="project-form-section | text-neutral-100">
                <div class="project-container">
                        <div class="left-section">
                            <h1>Diseña tu propio proyecto</h1>
                            <p style="color: #ffdc53; font-weight:600; ">Tu energía, tu diseño.</p>
                            
                        </div>
                        <div class="right-section">
                            <h2>PROYECTE SU NUEVO SISTEMA SOLAR</h2>
                            <p> <span style="font-weight: bolder;">+(909) 697-6932</span><br>
                            INGRESA TUS DATOS Y TE CONTACTAMOS</p>
                            <form class="form-grid" netlify>
                                <input type="text" placeholder="Nombre">
                                <input type="text" placeholder="Apellido">
                                <input type="email" placeholder="Email">
                                <input type="tel" placeholder="Teléfono">
                                <input type="text" placeholder="Domicilio">
                                <input type="text" placeholder="Ciudad">
                                <input type="text" placeholder="Monto de Factura Eléctrica Mensual">
                                <input type="text" placeholder="Kilowatts Mensuales (opcional)">
                                
                                <div style="position: relative; grid-column: span 2;">
                                    <input type="checkbox" id="terms">
                                    <label for="terms">Estoy de acuerdo con los términos y condiciones</label>
                                    <div id="labelBox" class="label-box">
                                        Al enviar este formulario, usted acepta que sus datos personales sean utilizados para proporcionarle información sobre productos y servicios de energía solar, y realizar un seguimiento de su solicitud. Nos comprometemos a proteger su privacidad, no compartiendo sus datos con terceros sin su consentimiento. Usted puede solicitar acceso, modificación o eliminación de sus datos en cualquier momento.
                                    </div>
                                </div>
                                <button type="submit" class="secondary-button project-btn" style="grid-column: span 2;">ENVIAR</button>
                            </form>
                        </div>
                    </div> 
                </section>    
            </div>
        </section>

        <section class="padding-block-300 bg-neutral-100 text-neutral-100"></section>
            <div class="info-card project-info bg-primary-900">
                <h2 class="fs-secondary-heading padding-block-200 fw-bold" >
                    ¿POR QUÉ NECESITAMOS <SPAN style="color: #ffdc53;">ESTOS DATOS</SPAN>?
                </h2>
                <div class="text-infor">
                    <div>
                        <p>
                            Con esta información, podemos elaborar un presupuesto mas preciso y desarrollar una solución solar que se ajuste a su consumo actual. Además, estos datos nos permiten contactar con usted de manera efectiva, asegurando un seguimiento adecuado de su solicitud, y brindarle asesoramiento especializado para que tome decisiones informadas. Nuestro objetivo es ofrecerle un servicio eficiente y a medida, garantizando que reciba la mejor solución solar para su hogar.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer |  ">
    
            <div class="wave-container">
                <img class="wave" src="/media/images/wave-footer.svg" alt="">
            </div>
              
            <div class="footer-content">
                
                <div class="footer-col">
                  <h2 style="color:white">Jose<span class="highlight">Solares</span></h2>
                  <p>Convertimos tu valor en energía eficiente<br> y rentable para tu hogar.</p>
                </div>
          
            
                <div class="footer-col">
                  <h3>Contacto</h3>
                  <p>Tel: (909) 697-6932</p>
                  <a href="mailto:jcastorre@gmail.com">jcastorre@gmail.com</a>
                  <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
                </div>
          
            
                <div class="footer-col">
                  <h3>Acceso</h3>
                   
                    <ul class="link-list custom-arrows">    
                        <li><a href="/views/us-page.html">Nosotros</a></li>
                        <li><a href="/views/info.html">Información</a></li>
                        <li><a href="/index.html">Inicio</a></li>
                        <li><a href="/views/info.html">Preguntas frecuentes</a></li>
                        <li><a href="/views/info.html">Contenido educativo</a></li>
                        <li><a href="/views/project.html">Crea Tu proyecto</a></li>
                    </ul>
                  
                </div>
            </div>  
        </footer>

        <section class="padding-block-300">
            <div class="copyright ">
                <p>Jose Luis Castro Your Solar and Real Estate Professional</p>
                <p>Copyright josesolares - 2024. Todos los derechos reservados. Defensa de las y los consumidores.</p>   
            </div>
        </section>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/scripts/project.js"></script>
        <script type="module" src="/scripts/main.js" async defer></script>
    </body>
</html>
