<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>JoseSolares</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/project.css">
        <link rel="stylesheet" href="/styles/info.css">
        <link rel="stylesheet" href="/styles/us-page.css">
        
    </head>

    <body>
        <section class="hero-section"></section>
            
            <div class="hero bg-primary-900">
                <video class="bg-video" autoplay muted loop playsinline>
                    <source  src="/media/videos/Video Portada Nostros.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <header class="primary-header">
                    <div class="nav-wrapper">
                        <a href=""><img  class="logo" src="/media/images/logo.svg" alt="JoseSolares"></a>
                        <button class="mobile-nav-toggle" aria-controls="primary-navigation">
                            <img src="/media/icons/menu-toggle.svg" alt="Menu-toggle" class="menu-icon">
                            <img src="/media/icons/menu-toggle.svg" alt="Close-menu" class="close-icon">
                            <span class="visually-hidden">Menu</span>
                        </button>
                        <nav id="primary-navigation" class="primary-nav | fs-nav ">
                            <ul role="list" class="nav-list">
                                <li><a href="/index.html">INICIO</a></li>
                                <li><a href="/views/us-page.html">NOSOTROS</a></li>
                                <li><a href="/views/info.html">INFORMACION</a></li>
                                <li><a href="/views/project.html">TU PROYECTO</a></li>
                                <li><img src="/media/icons/globe-outline.svg" alt=""></li>
                            </ul>
                        </nav>
                    </div>
                </header>

    
                <section  class="text-neutral-100">
                    <div class="hero-cta | padding-block-900">
                        <div class=" hero-text">
                            <h1 class=" fs-primary-heading fw-bold">
                                Nosotros
                            </h1>
                            <p style="color: #fde06c;">Juntos, iluminamos un futuro sostenible</p>
                        </div>
                        <div class=""><button class="primary-button">COMIENZA YA</button></div>
                        
                    </div>    
                </section>    
            </div>
        </section>

        <section class="us-photos bg-primary-900 padding-block-700">
            <p style="color: #ffdc53; text-align: center;" >
                CONÓCENOS
            </h1>
            <div class="us-photos-text">
                <h2>
                    Unidos para brindarte lo mejor.
                </h2>
                <p>
                    Con más de 15 años de experiencia en la industria, nuestro equipo combina sus conocimientos con una pasión inquebrantable por encontrar las mejores soluciones para nuestros clientes. Entendemos que cada decisión de compra es significativa, y es por eso que nos tomamos el tiempo para escuchar, comprender y asesorar de manera honesta y clara.
                </p>
                <p>
                    Nuestro objetivo es Impulsar el avance en energía solar mediante soluciones tecnológicas avanzadas y un enfoque centrado en el cliente, promoviendo un futuro más sostenible y accesible para todos.
                </p>
            </div>
            <div class="photo-columns ">
                <div class="first-photo">
                    <div class="offset-sq"></div>
                    <img class="photo-1" src="/media/images/Fotos Nosotros 1.png" alt="">
                </div>
                <div class="second-photo">
                    <div class="offset-sq"></div>
                    <img class="photo-2" src="/media/images/Foto Nosotros 2.png" alt="">
                </div>
            </div>
        </section>

        <section class="mision-objectives bg-primary-900">
            <div class="mision-objectives-container bg-neutral-100">
                <div class="even-columns mision-objectives-wrapper">
                    <div class="mision-objective-text">
                        <h2>Nuestros Objetivos</h2>
                        <p>Nos dedicamos a liderar la transición hacia una energía más sostenible y eficiente. Nuestro <span style="font-weight: bold;">objetivo</span> es ofrecer soluciones solares de alta calidad que maximizan la eficiencia energética y contribuyen a un futuro más verde. Nuestro compromiso es proporcionar un servicio excepcional, desde la asesoría hasta el soporte post-instalación, y mantenernos a la cabeza en tecnología solar con innovaciones avanzadas. También educamos a nuestros clientes sobre los beneficios de la energía solar, ayudándoles a tomar decisiones informadas y optimizar su inversión. Con estos objetivos, buscamos transformar el sector y construir un futuro más limpio y eficiente para todos.</p>
                    </div>
                    <div class="mision-objective-text">
                        <div class="mision-objective-text">
                            <h2>Nuestra Misión</h2>
                            <p>Nuestra misión es proporcionar soluciones solares que promuevan un futuro más sostenible mientras reducen significativamente los costos energéticos de nuestros clientes. Nos comprometemos a ofrecer sistemas eficientes y confiables que optimicen los gastos a largo plazo, asegurando un retorno de inversión favorable. Con un enfoque en la innovación y el asesoramiento experto, hacemos que la energía solar sea una opción económicamente viable y beneficiosa, contribuyendo a un futuro más verde y con menores costos energéticos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        

        <section class="testimonials">
            <h2>Escucha que tienen nuestros clientes <br> para decir de <span style="color: #ffdc53;">nosotros</span></h2>
            <div class="even-columns testimonial-wrapper">
                <div class="test-box">
                    <p style="font-weight: bold;"> Julian y su hija desde California</p>
                    <p>“José Castro fue el mejor en responder todas mis preguntas y evitó que alguien intentara estafarme para que alquilara y no comprara mi sistema solar. Necesitamos más personas honestas como él. ¡Gracias por toda su ayuda, la aprecio mucho!”
                    </p>
                </div>
                <div class="video-testimonial">
                    <video id="video" class="video" preload="auto" playsinline controls muted>
                        <source id="mp4" src="/media/videos/Video Inicio Quienes Somos.mp4" type='video/mp4'/>
        
                        <p>Error: This browser does not support html5 video!</p>
                    </video>
                </div>  

                <div class="test-box">
                    <p style="font-weight: bold;"> Julian y su hija desde California</p>
                    <p>“José Castro fue el mejor en responder todas mis preguntas y evitó que alguien intentara estafarme para que alquilara y no comprara mi sistema solar. Necesitamos más personas honestas como él. ¡Gracias por toda su ayuda, la aprecio mucho!”
                    </p>
                </div>
                <div class="video-testimonial">
                    <video id="video" class="video" preload="auto" playsinline controls muted>
                        <source id="mp4" src="/media/videos/Video Inicio Quienes Somos.mp4" type='video/mp4'/>
        
                        <p>Error: This browser does not support html5 video!</p>
                    </video>
                </div>
                

                <div class="test-box">
                    <p style="font-weight: bold;"> Julian y su hija desde California</p>
                    <p>“José Castro fue el mejor en responder todas mis preguntas y evitó que alguien intentara estafarme para que alquilara y no comprara mi sistema solar. Necesitamos más personas honestas como él. ¡Gracias por toda su ayuda, la aprecio mucho!”
                    </p>
                </div>
                <div class="video-testimonial">
                    <video id="video" class="video" preload="auto" playsinline controls muted>
                        <source id="mp4" src="/media/videos/Video Inicio Quienes Somos.mp4" type='video/mp4'/>
        
                        <p>Error: This browser does not support html5 video!</p>
                    </video>
                </div>

            </div>

        </section>

        <section id="reviews" class="bg-primary-900 ">
            <div class="review-section | padding-block-700" >
                <div class="review-content">
                    <h2>Reseñas de <span style="color: white;">Google</span></h2>
                    <p><i>Que opinan nuestros clientes</i></p>
                    <div class="reviews-container">
                
                        <div class="review-box | ">
                            <div class="star-group">
                                <picture class="pfp">
                                    <img src="/media/images/profile-woman.svg" width="80" height="80" alt="Profile picture">
                                    
                                    <picture>
                                        <p class="name">Danielle Miramontes</p>
                                        <img aria-hidden="true" loading="lazy" decoding="async" src="/media/icons/stars.svg" alt="stars" width="91" height="30">
                                    </picture>
                                </picture>
                            </div>
                            <p>Me gustaría reconocer a José, quien me salvó de contratar a otra empresa de energía solar. Es rápido y eficiente, me acompaño en cada paso del proceso. Excelente servicio al cliente y confiable. No solo le doy una excelente reseña, sino que también le doy un 199 %. Me dio la tranquilidad de poder hacerle 101 preguntas... su negocio es increíble.</p>
                            <img class="google-logo" src="/media/images/icons8-logo-de-google-48.png" width="30" height="30" alt="">  
                        </div>

                        <div class="review-box">
                            <div class="star-group">
                                <picture class="pfp">
                                    <img src="/media/images/profile-woman.svg" width="80" height="80" alt="Profile picture">
                                    <picture>
                                        <p class="name">Sylvia Lara</p>
                                        <img aria-hidden="true" loading="lazy" decoding="async" src="/media/icons/stars.svg" alt="stars" width="91" height="30">
                                    </picture>
                                </picture>
                            </div>
                                <p>José Castro fue el mejor en responder todas mis preguntas y evitó que alguien intentara estafarme para que alquilara y no comprara mi sistema solar. Necesitamos más personas honestas como él. ¡Gracias por toda su ayuda, la aprecio mucho!</p>
                                <img class="google-logo" src="/media/images/icons8-logo-de-google-48.png" width="30" height="30" alt="">
                        </div>
                        <div class="review-box">
                            <div class="star-group">
                                <picture class="pfp">
                                    <img src="/media/images/profile-woman.svg" width="80" height="80" alt="Profile picture">
                                    
                                    <picture>
                                        <p class="name">Carolina Cisneros</p>
                                        <img aria-hidden="true" loading="lazy" decoding="async" src="/media/icons/stars.svg" alt="stars" width="91" height="30">
                                    </picture>
                                </picture>
                            </div>
                            <p>José Castro es mi representante, estoy muy contento con su desempeño, gran servicio, siempre presente y rápido para responder todas mis preguntas a mi entera satisfacción. Mi experiencia con Solar fue fácil y rápida, seguramente lo recomendaré a todos mis amigos y familiares. ¡Buen trabajo! @Jose gracias por toda tu ayuda y apoyo.</p>
                            <img class="google-logo" src="/media/images/icons8-logo-de-google-48.png" width="30" height="30" alt="">
                        </div>
                        <div class="review-box">
                            <div class="star-group">
                                <picture class="pfp">
                                    <img src="/media/images/profile-woman.svg" width="80" height="80" alt="Profile picture">
                                    
                                    <picture>
                                        <p class="name">Carolina Cisneros</p>
                                        <img aria-hidden="true" loading="lazy" decoding="async" src="/media/icons/stars.svg" alt="stars" width="91" height="30">
                                    </picture>
                                </picture>
                            </div>
                            <p>José Castro es mi representante, estoy muy contento con su desempeño, gran servicio, siempre presente y rápido para responder todas mis preguntas a mi entera satisfacción. Mi experiencia con Solar fue fácil y rápida, seguramente lo recomendaré a todos mis amigos y familiares. ¡Buen trabajo! @Jose gracias por toda tu ayuda y apoyo.</p>
                            <img class="google-logo" src="/media/images/icons8-logo-de-google-48.png" width="30" height="30" alt="">
                        </div>
                        <div class="review-box">
                            <div class="star-group">
                                <picture class="pfp">
                                    <img src="/media/images/profile-woman.svg" width="80" height="80" alt="Profile picture">
                                    
                                    <picture>
                                        <p class="name">Carolina Cisneros</p>
                                        <img aria-hidden="true" loading="lazy" decoding="async" src="/media/icons/stars.svg" alt="stars" width="91" height="30">
                                    </picture>
                                </picture>
                            </div>
                            <p>José Castro es mi representante, estoy muy contento con su desempeño, gran servicio, siempre presente y rápido para responder todas mis preguntas a mi entera satisfacción. Mi experiencia con Solar fue fácil y rápida, seguramente lo recomendaré a todos mis amigos y familiares. ¡Buen trabajo! @Jose gracias por toda tu ayuda y apoyo.</p>
                            <img class="google-logo" src="/media/images/icons8-logo-de-google-48.png" width="30" height="30" alt="">
                        </div>
                        <div class="review-box">
                            <div class="star-group">
                                <picture class="pfp">
                                    <img src="/media/images/profile-woman.svg" width="80" height="80" alt="Profile picture">
                                    
                                    <picture>
                                        <p class="name">Carolina Cisneros</p>
                                        <img aria-hidden="true" loading="lazy" decoding="async" src="/media/icons/stars.svg" alt="stars" width="91" height="30">
                                    </picture>
                                </picture>
                            </div>
                            <p>José Castro es mi representante, estoy muy contento con su desempeño, gran servicio, siempre presente y rápido para responder todas mis preguntas a mi entera satisfacción. Mi experiencia con Solar fue fácil y rápida, seguramente lo recomendaré a todos mis amigos y familiares. ¡Buen trabajo! @Jose gracias por toda tu ayuda y apoyo.</p>
                            <img class="google-logo" src="/media/images/icons8-logo-de-google-48.png" width="30" height="30" alt="">
                        </div>
                      </div>
                </div>

            </div>
            

        </section>

         <section class="projects-slides bg-primary-900">
            <h2>Proyectos</h2>
            <div class="carousel-wrapper ">
                
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/media/images/Foto Proyectos Perris Nosotros.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Perris, Ca.</h5>
                          <p>22 Paneles</p>
                          <p>8.8kW</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="/media/images/Foto Proyectos Fontana Nosotros.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Fontana, Ca.</h5>
                            <p>22 Paneles</p>
                            <p>8.8kW</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="/media/images/Foto Proyectos Upland Nosotros.jpeg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Upland, Ca.</h5>
                            <p>22 Paneles</p>
                            <p>8.8kW</p>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
        </section>

        <footer class="footer |  ">
    
            <div class="wave-container">
                <img class="wave" src="/media/images/wave-footer.svg" alt="">
                  
              </div>
              
              <div class="footer-content">
                
                <div class="footer-col">
                  <h2 style="color:white">Jose<span class="highlight">Solares</span></h2>
                  <p>Convertimos tu valor en energía eficiente y rentable para tu hogar.</p>
                </div>
          
            
                <div class="footer-col">
                  <h3>Contacto</h3>
                  <p>Tel: (909) 697-6932</p>
                  <a href="mailto:jcastorre@gmail.com">jcastorre@gmail.com</a>
                  <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
                </div>
          
            
                <div class="footer-col">
                  <h3>Acceso</h3>
                   
                    <ul class="link-list">    
                        <li><a href="/views/us-page.html">Nosotros</a></li>
                        <li><a href="/views/info.html">Información</a></li>
                        <li><a href="/index.html">Inicio</a></li>
                        <li><a href="/views/info.html">Preguntas frecuentes</a></li>
                        <li><a href="/views/info.html">Contenido educativo</a></li>
                        <li><a href="/views/project.html">Crea Tu proyecto</a></li>
                    </ul>
                  
                </div>
              </div>  
        </footer>

        <section class="padding-block-300 bg-accent-100">
            <div class="copyright">
                <p>Jose Luis Castro Your Solar and Real Estate Professional          Copyright josesolares - 2024. Todos los derechos reservados. Defensa de las y los consumidores.</p>   
            </div>
        </section>

        <script type="module" src="/scripts/main.js" async defer ></script>
    </body>